
<div class="container-fluid text-center">
<h1 id="header">Cheer up!</h1>
</div>
<br>
<br>
<div class="row cheer-up">
  <div class="container-fluid">
    <div class="col-md-3" valign="center">
      <%= image_tag("image2.jpg", :alt => "rss feed") %>

    </div>
    <div class="col-md-3">
      <%= image_tag("image1.jpg", :alt => "rss feed") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("image3.jpg", :alt => "rss feed") %>

    </div>
    <div class="col-md-3">
      <%= image_tag("image4.jpg", :alt => "rss feed") %>
    </div>
  </div>
</div>

<div class="row cheer-up">
  <div class="container-fluid">
    <div class="col-md-3">
      <%= image_tag("cheerup1.png", :alt => "rss feed") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("cheerup2.jpg", :alt => "rss feed") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("image5.jpg", :alt => "rss feed") %>
    </div>
    <div class="col-md-3">
      <%= image_tag("cheerup5.jpg", :alt => "rss feed") %>
    </div>
  </div>
</div>
<br>

<div class="container-fluid text-center">
<h1 id="header">Helpful Resources</h1>
</div>
<br>
<br>

<div class="row cheer-up">
  <div class="container-fluid">
    <div class="col-md-3" valign="center">
      <a href="http://www.livestrong.com/article/117861-foods-during-chemo/">
      <%= image_tag("resource1.jpg", :height=> 350, :alt => "rss feed") %>
      <p style="text-align: center">Best foods to eat during chemo!</p></a>

    </div>
    <div class="col-md-3">
      <a href="http://www.livestrong.com/article/353996-diet-nutrition-during-chemo-radiation-therapy/">
      <%= image_tag("resource2.jpg", :height=> 350, :alt => "rss feed") %>
      <p style="text-align: center">Diet and Nutrition during chemo!</p></a>
    </div>
    <div class="col-md-3">
      <a href="http://www.livestrong.com/article/293442-foods-to-avoid-during-chemotherapy/?utm_source=undefined_R1">
      <%= image_tag("resource3.jpg", :alt => "rss feed") %>
      <p style="text-align: center">Foods to avoid during chemo!</p></a>

    </div>
    <div class="col-md-3">
      <a href="http://cherrysprinkle.com/chemo-care-packages/">
      <%= image_tag("resource4.jpg", :alt => "rss feed") %>
      <p style="text-align: center">Chemo care package!</p></a>
    </div>
  </div>
</div>























<!-- <%= image_tag("image1.jpg", :alt => "rss feed") %>

<%= image_tag("image2.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>
<td align="center" valign="center">
<%= image_tag("image3.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>
<td align="center" valign="center">
<%= image_tag("image4.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>
</tr>
</table>
</div>
<table width="500" border="1" cellpadding="5" align="center">
<td align="center" valign="center">
<%= image_tag("image5.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>
<td align="center" valign="center">
<%= image_tag("image6.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>

<td align="center" valign="center">
<%= image_tag("image7.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>

<td align="center" valign="center">
<%= image_tag("image8.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>
</tr>
</table> -->
