<div class=""
<h1>Cheer up!</h1>


<div class="table">
<table width="900" border="1" cellpadding="10" align="center">

<tr>

<td align="center" valign="center">
<%= image_tag("image1.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>

<td align="center" valign="center">
<%= image_tag("image2.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>

<td align="center" valign="center">
<%= image_tag("image3.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>

<td align="center" valign="center">
<%= image_tag("image4.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>

</tr>

</table>
</div>

<table width="500" border="1" cellpadding="5" align="center">

<td align="center" valign="center">
<%= image_tag("image5.jpg", :alt => "rss feed") %>
<br />
Caption text centered under the image.
</td>


  <td align="center" valign="center">
  <%= image_tag("image6.jpg", :alt => "rss feed") %>
  <br />
  Caption text centered under the image.
  </td>

  <td align="center" valign="center">
  <%= image_tag("image7.jpg", :alt => "rss feed") %>
  <br />
  Caption text centered under the image.
  </td>

  <td align="center" valign="center">
  <%= image_tag("image8.jpg", :alt => "rss feed") %>
  <br />
  Caption text centered under the image.
  </td>

</tr>
</table>
